{% autoescape true %}
<div class="post">
  <div class="post-heading">
  Created at {{p.create_time.strftime('%I:%M %p, %b %d, %Y')}}.
	{% if p.has_modified %}
	Last modified at {{p.last_modified.strftime('%I:%M %p, %b %d, %Y')}}
  {% endif %}
  
	<div class="post-content">
	  {{p.render_text | safe}}
			{% if p.is_editable %}
			<a href="/{{p.question_id}}/{{p.key().id()}}/edit"> <div style="color: red"> Edit </div> </a>
			{% endif %}
		<div>
		{% if p.cuser %}
			<a href="/{{p.question_id}}/{{p.key().id()}}/vote?action=up">up</a>
		{% endif %}
			{{ p.answervote }}
		{% if p.cuser %}
			<a href="/{{p.question_id}}/{{p.key().id()}}/vote?action=down">down</a>
		{% endif %}
		</div>
	</div>

  <br>
  <div>
		Posted by <a href="/{{p.user.nickname()}}"> {{p.user.nickname()}} </a>
		<br>
	</div>
  <hr>
</div>
{% endautoescape %}
