{% autoescape true %}
<div class="post">
  <div class="post-heading">
  Created at {{p.create_time.strftime('%I:%M %p, %b %d, %Y')}}.
	{% if p.has_modified %}
	Last modified at {{p.last_modified.strftime('%I:%M %p, %b %d, %Y')}}
  {% endif %}
  
	<div class="post-content">
	  {{p.render_text | safe}}
		  {% if p.show_permalink %}
	    <a href="/{{p.key().id()}}"> <div style="color: blue"> permalink ... </div> </a>
			{% endif %}
			{% if p.is_editable %}
			<a href="/{{p.key().id()}}/edit"> <div style="color: red"> Edit </div> </a>
			{% endif %}
		<div>
		{% if p.cuser %}
			{% if p.mainpage %}
				<a href="/{{p.key().id()}}/vote?action=upm">up</a>
			{% else %}
				<a href="/{{p.key().id()}}/vote?action=up">up</a>
			{% endif %}
		{% endif %}
			{{ p.questionvote }}
		{% if p.cuser %}
			{% if p.mainpage %}
				<a href="/{{p.key().id()}}/vote?action=downm">down</a>
			{% else %}
				<a href="/{{p.key().id()}}/vote?action=down">down</a>
			{% endif %}
		{% endif %}
		</div>
	</div>

  <br>
  <div>
		Posted by <a href="/{{p.user.nickname()}}"> {{p.user.nickname()}} </a>
		<br>
		{% if p.tags %}
		  Tags:
		  {% for tag in p.tags %}
		    <a href="/{{p.user.nickname()}}/{{p.blog_name}}?tag={{tag}}"> {{tag}} </a>
		  {% endfor %}
		{% endif %}

	</div>
  <hr>
</div>
{% endautoescape %}
