{% extends "bootstrap_base.html" %}

    
    {% block title %}
    <title>Home page of OST Question</title>
    {% endblock title%}
    {%block posts%}
        {% if p.posts %}
            {% for post in p.posts%}
                <div class="col-md-1">
                    {% if p.user %}
                    <a href="/{{post.key().id()}}/vote?action=upm">
                    <button class="btn btn-xs btn-info" style="width:40px">Up</button></a>
                    {% endif %}
                        {{ post.questionvote }}
                    {% if p.user %}
                    <a href="/{{post.key().id()}}/vote?action=downm">
                    <button type="button" class="btn btn-xs btn-default" style="width:40px">Down</button></a>
                    {% endif %}
                </div>
                <div class="col-md-11 blog-post"> 

                    <p>            
                        {% autoescape true %} 
                        {{ post.render_text | safe }}                        
                        {% endautoescape %} 
                        <br>
                        <a href="/{{post.key().id()}}"><button type="button" class="btn btn-sm btn-primary">More</button></a>
                        {% if post.is_editable %}
                        <a href="/{{post.key().id()}}/edit"><button type="button" class="btn btn-sm btn-primary">Edit</button></a>
                        {% endif %}
                    </p>
                    <p class="blog-post-meta">
                        Created at {{post.create_time.strftime('%I:%M %p, %b %d, %Y')}} by <a href="/{{post.user.nickname()}}"> {{post.user.nickname()}} </a>
                        {% if post.has_modified %}
                        Last modified at {{post.last_modified.strftime('%I:%M %p, %b %d, %Y')}}
                        {% endif %}
                    </p>                    
                <hr>
                </div>  
            {%endfor%}
        {% endif %}
    {%endblock posts%}
    {%block create%}
        {% if p.user %}
          <div class="blog-header col-sm-2 col-sm-offset-1">
            <p class="blog-createquestion"><a href="/createquestion"><button type="button" class="btn btn-primary">Create a new question</button></a></p>
          </div>
        {% endif %}
    {%endblock%}
    {#
    {%block pager%}
    <ul class="pager">    
        {% if posts.has_previous %}
           <li> <a href="?page={{ posts.previous_page_number }}">previous</a></li>
        {%else%}
           <li class="disabled"> <a>previous</a></li>
        {% endif %}

        {% if posts.has_next %}
            <li><a href="?page={{ posts.next_page_number }}">next</a></li>
        {%else%}
            <li class="disabled"> <a>next</a></li>
        {% endif %}
    </ul>
    {%endblock pager%}
    
    {%block blogs%}
        <h4>Blogs</h4>
        <ol class="list-unstyled">
        {% if blogs %}
            {% for blog in blogs %}
                <li><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a></li>
            {% endfor %}
        {% else %}
            <li>There are no blogs.</li>
        {% endif %}
        </ol>
    {%endblock blogs%}

    {%block tags%}
    <h4>Tags</h4>
    <ol class="list-unstyled">
        {%if tags%}
            {%for tag in tags %}
                <li><a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a></li>
            {%endfor%}
        {%else %}
            <li>There are no tags yet.</li>
        {%endif%}
    </ol>
    {%endblock tags%}
    #}