{% extends "bootstrap_base.html" %}

    
    {% block title %}
    <title>Home page of OST Question</title>
    {% endblock title%}
    {%block posts%}
        <div>
            <div class='col-md-11'><b>Question:</b></div>
            <div class='col-md-1'>
                <div class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><button type="button" class="btn btn-sm btn-default">Sort by <span class="caret"></span></button></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/index?option=create_time">create time</a></li>
                    <li><a href="/index?option=last_modified">modified time</a></li>
                    <li><a href="/index?option=questionvote">votes</a></li>
                    <li><a href="/index?option=answernumber">answers</a></li>
                  </ul>
                </div>
            </div>
        </div>
        {% if p.posts %}
            {% for post in p.posts%}
                <div class="col-md-1">
                    {% if p.user %}
                    <a href="/{{post.key().id()}}/vote?action=upm" class="vote-up-on">
                    Up</a>
                    {% endif %}
                        &nbsp;&nbsp;&nbsp;&nbsp;{{ post.questionvote }}
                    {% if p.user %}
                    <a href="/{{post.key().id()}}/vote?action=downm" class="vote-down-off">
                    Down</a>
                    {% endif %}
                </div>
                <div class="col-md-11 blog-post"> 
                    <p>  
                        <a href="/{{post.key().id()}}" style="color:black"><b>{{post.title}}</b></a><br>          
                        {% autoescape true %} 
                        {{ post.render_text | safe }}                        
                        {% endautoescape %}
                        <br>
                        {% if post.avatar %}
                        <div class="photo">
                        <img src="/img?img_id={{post.key()}}"></img>
                        </div>
                        {%endif%}
                        {% for tag in post.tags %}
                            <a href="/index?tag={{tag}}" class="post-tag">{{tag}}</a>
                        {% endfor %}
                        <br>
                        <a href="/{{post.key().id()}}" class="moreandedit">View Question</a>
                        <a href="/{{post.key().id()}}/rss" class="moreandedit" style="float:right">RSS</a>
                        {% if post.is_editable %}
                        <a href="/{{post.key().id()}}/edit" class="moreandedit" style="float:right">Edit</a>
                        {% endif %}
                        
                    </p>
                    <p class="blog-post-meta">
                        Created at {{post.create_time.strftime('%I:%M %p, %b %d, %Y')}} by <a href="/index?user={{post.user}}"> {{post.user.nickname()}} </a>
                        {% if post.has_modified %}
                        Last modified at {{post.last_modified.strftime('%I:%M %p, %b %d, %Y')}}
                        {% endif %}
                    </p>                    
                <hr>
                </div>  
            {%endfor%}
        {% endif %}
    {%endblock posts%}
    {%block create%}
        {% if p.user %}
          <div class="blog-header col-sm-2 col-sm-offset-1">
            <p class="blog-createquestion"><a href="/createquestion"><button type="button" class="btn btn-primary">Create a new question</button></a></p>
          </div>
        {% endif %}
    {%endblock%}
    {%block pager%}
    <ul class="pager">    
        {% if p.has_previous %}
           <li> <a href="{{ p.previous_url }}">previous</a></li>
        {%else%}
           <li class="disabled"> <a>previous</a></li>
        {% endif %}

        {% if p.has_next %}
            <li><a href="{{ p.next_url }}">next</a></li>
        {%else%}
            <li class="disabled"> <a>next</a></li>
        {% endif %}
    </ul>
    {%endblock pager%}
    {#
    {%block blogs%}
        <h4>Blogs</h4>
        <ol class="list-unstyled">
        {% if blogs %}
            {% for blog in blogs %}
                <li><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a></li>
            {% endfor %}
        {% else %}
            <li>There are no blogs.</li>
        {% endif %}
        </ol>
    {%endblock blogs%}
    #}

    {%block tags%}
    <h4>Tags</h4>
    <ol class="list-unstyled">
        {%if p.tags%}
            {%for tag in p.tags %}
                <li><a href="/index?tag={{tag}}" class="post-tag">{{ tag }}</a></li>
            {%endfor%}
        {%else %}
            <li>There are no tags yet.</li>
        {%endif%}
    </ol>
    {%endblock tags%}